* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: none;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: outfit-c;
}

@font-face {
  font-family: raleway-c;
  src: url(../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: outfit-c;
  src: url(../fonts/outfit-regular.woff2);
}
:root {
  --index: calc( 1vw + 1vh );
  --color-header: #f4efec;
  --color-text: #cdc6c3;
  --portfolio-gap: calc(var(--index) * 5);
  --transition: 1.75s cubic-bezier(.2, .6, 0, 1);
  --black: #2a2a2a;
  --transition: 1.25s cubic-bezier(.2, .5, 0, 1);
  --transition-cursor: 2s cubic-bezier(.05, .5, 0, 1);
  --second-color: #7c89fe;
  --second-colorm: #7c89fe;
}

.container, .first-section_image, .portfolio__textblock, .portfolio > *, .swiper-wrapper, .next__body > *, #mouse {
  will-change: transform;
}

.not__fullscreen {
  padding: 0 7vw;
}

.container {
  transition: padding 0.5s;
}

body {
  color: #fafafa;
  font-family: raleway-c;
  overflow-x: hidden;
  cursor: none;
  transition: background 1s;
  background: url(../img/bg.jpg);
  background-size: 50px;
}
body.no-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: black;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--second-color);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--second-color);
  -webkit-box-shadow: inset 0 0 6px var(--second-color);
}

.wrapper {
  transition: transform 1s;
  opacity: 0;
  visibility: hidden;
}
.wrapper.active {
  opacity: 1;
  visibility: visible;
}

.scroll-animation {
  position: absolute;
  left: 4vh;
  top: 80vh;
}

#mouse {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color-header);
  position: fixed;
  z-index: 999;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: width 0.5s, height 0.5s, opacity 0.3s;
  box-shadow: 0px 0px 5px 0px var(--color-header);
}
#mouse.hide {
  opacity: 0;
}
#mouse.active {
  filter: blur(1px);
  width: 15px;
  height: 15px;
  box-shadow: none;
  background: white;
  mix-blend-mode: normal;
}

.btn-up {
  position: fixed;
  background-color: var(--second-color);
  right: 20px;
  bottom: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  color: var(--color-text);
  width: 50px;
  height: 50px;
  transform: skew(0deg, 0deg) translate(0);
  z-index: 10;
  opacity: 1;
}
.btn-up_hide {
  opacity: 0;
  transform: skew(0deg, 90deg) translateX(50%);
}
.btn-up-icon {
  width: 40px;
  height: 40px;
  fill: currentcolor;
}

.modal {
  max-width: 500px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  line-height: 25px;
  background-color: var(--black);
  transition: 1.1s ease-out;
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  z-index: 1;
  padding: calc(var(--index) * 2);
  cursor: pointer;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 0px 5px 0px #696969;
  user-select: none;
  font-size: calc(var(--index) * 0.81);
}
.modal span {
  color: var(--second-color);
}
.modal__close {
  font-size: calc(var(--index) * 2);
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__close:hover {
  color: var(--second-color);
}
.modal.off {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: translateX(200%);
  box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}

.loader {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: all 1s;
}
.loader.close {
  transform: translateX(150%);
  opacity: 0;
  pointer-events: none;
}
.loader__body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: not-allowed;
  scale: 0.7;
}
.loader__body .external-shadow {
  width: 25em;
  height: 25em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0.5em 0.5em 3em var(--second-color), -0.5em 0.5em 3em #000ba7, 0.5em -0.5em 3em #7b00a7, -0.5em -0.5em 3em var(--second-color);
  z-index: 999;
  animation: rotateLoader 3s linear infinite;
  background-color: #212121;
}
.loader__body .external-shadow .central {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25em;
  height: 25em;
  border-radius: 50%;
  box-shadow: 0.5em 1em 1em var(--second-color), -0.5em 0.5em 1em #00054e, 0.5em -0.5em 1em #39004e, -0.5em -0.5em 1em var(--second-color);
}
.loader__body .intern {
  position: absolute;
  color: white;
  z-index: 9999;
}
.loader__body .intern::before {
  content: "100%";
  font-size: calc(var(--index) * 4);
  animation: percent 2s ease-in-out forwards;
}

@keyframes show {
  100% {
    transform: translate(0vw, 0);
  }
}
@keyframes hide {
  0% {
    transform: translate(0vw, 0);
  }
  80% {
    transform: translate(-200vw, 0);
  }
  100% {
    transform: translate(-200vw, 0);
    display: none;
  }
}
@keyframes deconstructed {
  0% {
    background-position-x: left;
  }
  50% {
    background-position-x: right;
  }
  100% {
    background-position-x: left;
  }
}
@keyframes mouse-scroll {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mouse-wheel {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(18px);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}
@keyframes borderRotate {
  to {
    --angle: 420deg;
  }
}
@keyframes rotateLoader {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes percent {
  0% {
    content: "0%";
  }
  25% {
    content: "25%";
  }
  33% {
    content: "33%";
  }
  42% {
    content: "42%";
  }
  51% {
    content: "51%";
  }
  67% {
    content: "67%";
  }
  74% {
    content: "74%";
  }
  75% {
    content: "75%";
  }
  86% {
    content: "86%";
  }
  95% {
    content: "95%";
  }
  98% {
    content: "98%";
  }
  99% {
    content: "99%";
  }
}
.warning {
  z-index: 999;
  text-align: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(20px);
  transform: translate(200vw, 0);
}
.warning.show {
  animation: show 1s forwards;
}
.warning.hide {
  animation: hide 1s forwards;
}

.warning__dark {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.warning__dark::before {
  content: "";
  position: absolute;
  border-left: 10vw solid transparent;
  border-right: 0vw solid transparent;
  border-top: 100vh solid rgba(0, 0, 0, 0.8);
  left: -10vw;
}
.warning__dark::after {
  content: "";
  position: absolute;
  border-left: 0vw solid transparent;
  border-right: 10vw solid transparent;
  border-bottom: 100vh solid rgba(0, 0, 0, 0.8);
  right: -10vw;
}

.warning__container {
  max-width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.warning__title {
  font-size: 50px;
}

.warning__text {
  font-size: 20px;
  margin: 40px;
}

.warning__buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.warning__buttons-btn {
  padding: 10px 40px;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  border: 0;
  cursor: pointer;
  background-color: var(--second-color);
  transition: all 0.3s;
}
.warning__buttons-btn.rem {
  background-color: rgb(138, 8, 40);
}
.warning__buttons-btn:hover {
  transform: scale(1.05);
  text-decoration: underline;
}
.warning__buttons-btn:hover.rem {
  text-decoration: line-through;
}

.first-section__reviews {
  position: absolute;
  bottom: 5vh;
  left: -50vw;
  font-size: calc(var(--index) * 1);
  transition: all 0.3s;
}
.first-section__reviews.active {
  transition: left 1s ease 2s;
  left: 5vw;
}
.first-section__reviews:hover {
  color: var(--second-color);
}
.first-section__reviews:hover::after {
  width: 0;
}
.first-section__reviews::after {
  content: "";
  position: absolute;
  right: -7vw;
  transition: width 1s;
  top: 50%;
  transform: translate(0, -50%);
  width: 5vw;
  height: 2px;
  background-color: white;
}

.first-section__social {
  position: absolute;
  bottom: 0;
  right: -50vw;
}
.first-section__social.active {
  transition: right 1s ease 2s;
  right: 10vw;
}

.first-section-menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  padding: 10vh 20vw 10vh 3vw;
  font-size: calc(var(--index) * 4);
  text-transform: uppercase;
  font-family: outfit-c;
  opacity: 0;
  z-index: 11;
  transform: translate(0, -100vh);
}
.first-section-menu.active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 1s ease 1.5s;
}
.first-section-menu ul {
  display: flex;
  flex-wrap: wrap;
}
.first-section-menu ul li {
  position: relative;
  padding-right: 8vw;
  line-height: 1;
  overflow: hidden;
}
.first-section-menu ul li a {
  transition: all 0.3s;
}
.first-section-menu ul li a:hover {
  color: var(--second-colorm);
}
.first-section-menu ul li::after {
  content: "";
  position: absolute;
  right: 4vw;
  transform: skew(-25deg, 15deg);
  top: -10%;
  width: 10px;
  height: 120%;
  background-color: grey;
}

.first-section_image {
  width: 100%;
  position: absolute;
  display: inline-block;
  inset: 0;
  z-index: -1;
}

.first-section::before {
  content: "";
  left: 5vh;
  position: absolute;
  top: 30vh;
  width: 1px;
  height: 25vh;
  background-color: grey;
  z-index: 1000;
}

.main__header {
  height: 100vh;
  position: relative;
}

.main__header-title {
  font-size: calc(var(--index) * 6);
  position: absolute;
  width: min-content;
  bottom: 12vh;
  line-height: 0.9;
  display: block;
  letter-spacing: -0.05em;
  user-select: none;
}
.main__header-title .deconstructed {
  background: url("./../img/header/code.webp") no-repeat;
  background-size: 130%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: deconstructed 15s infinite ease-in-out;
}

.main__header-text {
  position: absolute;
  font-size: calc(var(--index) * 2);
  top: 4vh;
  font-weight: 100;
  user-select: none;
}
.main__header-text a {
  position: relative;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.main__header-text a span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}
.main__header-text a span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
  height: 14px;
  line-height: 13px;
}
.main__header-text a:after {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: black;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 50;
  transform-origin: bottom center;
  transform: skewY(5deg) scaleY(2);
}

.mouse {
  height: 6vh;
  width: 4vh;
  border-radius: 30px;
  border: 2px solid white;
  margin-bottom: 3px;
}

.wheel {
  animation: mouse-wheel 1.5s ease infinite;
  height: 2vh;
  width: 0.5vh;
  background: white;
  margin: 3px auto;
  border-radius: 3px;
}

.arrows span {
  width: 2vh;
  height: 2vh;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
  display: block;
  margin: 0 auto;
  animation: mouse-scroll 2s infinite;
}
.arrows span:nth-child(1) {
  animation-delay: 0.2s;
}
.arrows span:nth-child(2) {
  animation-delay: 0.4s;
}
.arrows span:nth-child(3) {
  animation-delay: 0.6s;
}

.menu__header-top, .menu__header-bottom, .menu__header-center {
  position: fixed;
  width: 200vw;
  height: 34vh;
  left: -20%;
  background-color: var(--black);
  z-index: 10;
  transform: translate(-200%, 0%);
  transition: all 2s;
}
.menu__header-top.active, .menu__header-bottom.active, .menu__header-center.active {
  transform: translate(0%, 0%);
}

.menu__header-bottom {
  top: 33.333vh;
  transform: translate(200%, 0%);
}

.menu__header-center {
  top: 66.666vh;
}

.menu-trigger, .close-trigger {
  position: fixed;
  top: 32px;
  right: 20px;
  display: block;
  width: 52px;
  height: 52px;
  z-index: 333;
}

.menu-trigger:hover .menu-trigger-bar:before, .close-trigger:hover .menu-trigger-bar:before {
  width: 100%;
}

.menu-trigger:hover .close-trigger-bar:before, .close-trigger:hover .close-trigger-bar:before {
  width: 100%;
}

.close-trigger {
  z-index: 5;
  top: 42px;
}

.menu-trigger-bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  margin-bottom: 6px;
  transform: rotate(-45deg);
  position: relative;
}
.menu-trigger-bar.top {
  width: 50%;
}
.menu-trigger-bar.middle::before {
  left: auto;
  right: 0;
}
.menu-trigger-bar.bottom {
  width: 50%;
  margin-left: 50%;
}
.menu-trigger-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 100%;
  background-color: var(--second-color);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.close-trigger-bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #5e5e5e;
  position: relative;
}
.close-trigger-bar.left {
  transform: translateX(100px) translateY(-100px) rotate(-45deg);
}
.close-trigger-bar.right {
  transform: translateX(-100px) translateY(-100px) rotate(45deg);
  top: -3px;
}
.close-trigger-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 100%;
  background-color: var(--second-color);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.portfolio {
  display: flex;
  padding: calc(var(--index) * 8) 0px;
}
.portfolio .portfolio__item {
  max-width: calc(var(--index) * 21);
  margin-bottom: var(--portfolio-gap);
  max-height: 180vh;
  border-radius: 8px;
}
.portfolio .portfolio__item .portfolio__textblock {
  color: var(--color-text);
  position: relative;
}
.portfolio .portfolio__item .portfolio__textblock-title {
  font-size: 2rem;
  user-select: none;
  line-height: 2.4rem;
  color: var(--color-header);
  margin-bottom: 1.5rem;
}
.portfolio .portfolio__item .portfolio__textblock-text {
  user-select: none;
  line-height: 1.75;
}
.portfolio .portfolio__left {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: calc(var(--portfolio-gap) * 1.5);
}
.portfolio .portfolio__right {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.portfolio .portfolio__right .portfolio__item {
  margin: 0;
  margin-top: var(--portfolio-gap);
}

.tehnology {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: calc(var(--index) * 5) 0;
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.tehnology:hover .tehnology-firstslider .tehnology__row-track .slide h3 {
  transform: translateY(0%);
}
.tehnology h2 {
  font-size: calc(var(--index) * 3);
  margin-bottom: calc(var(--index) * 3);
  color: var(--second-color);
  user-select: none;
}
.tehnology svg {
  position: absolute;
}
.tehnology .tehnology-firstslider {
  margin-bottom: 40px;
  overflow: auto;
}
.tehnology .tehnology-firstslider .tehnology__row-track {
  transition-timing-function: linear;
}
.tehnology .tehnology-firstslider .tehnology__row-track .slide {
  user-select: none;
  overflow: hidden;
}
.tehnology .tehnology-firstslider .tehnology__row-track .slide h3 {
  font-size: calc(var(--index) * 1);
  font-weight: 900;
  transition: all 0.5s;
  transform: translateY(100%);
}

.amazing-slider {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.amazing-slider .controls.change button {
  left: 0%;
}
.amazing-slider .controls.change button.hide-sidebar {
  transform: rotate(-90deg) translateY(0%);
}
.amazing-slider .controls.change button.down-button {
  transform: translateX(0%);
}
.amazing-slider .controls button {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  left: 35%;
  top: 50%;
  padding: 10px;
  border: none;
  cursor: none;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.amazing-slider .controls button.hide-sidebar {
  top: 0%;
  transform: rotate(90deg) translateY(100%);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 3px;
  border-radius: 0px;
}
.amazing-slider .controls button.down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.amazing-slider:focus {
  outline: none;
}
.amazing-slider .main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: all 0.5s ease-in-out;
}
.amazing-slider .main-slide.allwidth {
  width: 100%;
  left: 0%;
}
.amazing-slider .main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100%;
  width: 100%;
}
.amazing-slider .sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.amazing-slider .sidebar.hide {
  width: 0%;
}
.amazing-slider .sidebar h2 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
  color: var(--color-text);
}
.amazing-slider .sidebar p {
  max-width: 70%;
  margin-bottom: calc(var(--index) * 2);
}
.amazing-slider .sidebar a {
  overflow: hidden;
  position: relative;
  padding: calc(var(--index) * 0.5) calc(var(--index) * 2);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--second-color);
  font-size: calc(var(--index) * 0.8);
  transition: all 0.3s;
}
.amazing-slider .sidebar a:hover {
  background-color: var(--color-header);
  color: var(--black);
}
.amazing-slider .sidebar a::after {
  content: "";
  position: absolute;
  top: 0;
  left: -200px;
  width: 60px;
  height: 100px;
  background-color: #fff;
  filter: blur(30px);
  transform: skewX(30deg) translateZ(0);
  transition: 1s;
  animation-name: slideme;
  animation-duration: 2s;
  animation-delay: 0.05s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.amazing-slider .sidebar > div {
  height: 100%;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile__slider {
  height: 60vh;
  display: none;
}
.mobile__slider .swiper-wrapper {
  height: 100%;
}
.mobile__slider .swiper-wrapper .swiper-slide {
  position: relative;
  height: 60vh;
  background-size: contain;
}
.mobile__slider .swiper-wrapper .swiper-slide .slide__body {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.mobile__slider .swiper-wrapper .swiper-slide .slide__body a {
  overflow: hidden;
  position: relative;
  padding: calc(var(--index) * 0.5) calc(var(--index) * 2);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--second-color);
  font-size: calc(var(--index) * 0.8);
  transition: all 0.3s;
}
.mobile__slider .swiper-wrapper .swiper-slide .slide__body a:hover {
  background-color: var(--color-header);
  color: var(--black);
}
.mobile__slider .swiper-wrapper .swiper-slide .slide__body a::after {
  content: "";
  position: absolute;
  top: 0;
  left: -200px;
  width: 60px;
  height: 100px;
  background-color: #fff;
  filter: blur(30px);
  transform: skewX(30deg) translateZ(0);
  transition: 1s;
  animation-name: slideme;
  animation-duration: 2s;
  animation-delay: 0.05s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.mobile__slider .swiper-wrapper .swiper-slide .slide__body a::after {
  content: none;
}

@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
.magic-list {
  font-size: calc(var(--index) * 2.75);
  padding: calc(var(--index) * 2.75);
  overflow: hidden;
}
.magic-list h2 {
  font-size: calc(var(--index) * 2);
  margin-bottom: calc(var(--index) * 3);
  text-transform: uppercase;
  user-select: none;
}
.magic-list__item {
  color: var(--color-text);
  text-decoration: none;
  display: block;
  line-height: 0.9;
  padding: calc(var(--index) * 5) calc(var(--index) * 7.5);
  border-bottom: 1px solid #333;
  counter-increment: my-counter;
  position: relative;
  transition: all 0.5s;
}
.magic-list__item:hover {
  padding: calc(var(--index) * 10) calc(var(--index) * 7.5);
}
.magic-list__item:hover .magic-list__header, .magic-list__item:hover:hover::before {
  transform: translate3d(calc(var(--index) * -7), 0, 0);
}
.magic-list__item:hover .cursor {
  height: var(--height);
}
.magic-list__item:hover .cursor .cursor__image {
  transform: var(--cursor-transform) scale(0.6);
}
.magic-list__item::before {
  content: "(0" counter(my-counter) ")";
  position: absolute;
  font-size: calc(var(--index) * 0.95);
  margin-left: calc(var(--index) * -2.25);
  margin-top: calc(var(--index) / 2);
  letter-spacing: 0.5px;
  transition: transform var(--transition);
  transition-delay: 0.025s;
  will-change: transform;
}
.magic-list__item .cursor {
  --width: calc(var(--index) * 30);
  --height: calc(var(--index) * 23);
  position: absolute;
  width: var(--width);
  height: 0;
  top: calc(var(--height) * -0.6);
  left: calc(var(--width) * -0.6);
  overflow: hidden;
  transform: translate3d(var(--move-x), var(--move-y), 0);
  transition: transform var(--transition-cursor), height 1s ease;
  z-index: 0;
  will-change: transform;
  pointer-events: none;
}
.magic-list__item .cursor__image {
  --cursor-transform: translate3d(calc(var(--move-x) / -5), calc(var(--move-y) / -5), 0);
  position: absolute;
  width: calc(var(--width) * 2);
  height: calc(var(--height) * 2);
  top: calc(var(--height) * -0.4);
  left: calc(var(--width) * -0.25);
  background-size: cover;
  background-position: center;
  transform: var(--cursor-transform) scale(1.2);
  transition: transform var(--transition-cursor);
  pointer-events: none;
}
.magic-list__item .magic-list__header {
  width: min-content;
  transition: transform var(--transition);
  will-change: transform;
  position: relative;
  z-index: 1;
}
.magic-list__item:first-child {
  border-top: 1.5px solid rgba(0, 0, 0, 0.09);
}

.particles {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.particles__info {
  position: absolute;
  inset: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}
.particles__info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.particles__info-item .header-item-dynamic {
  display: flex;
  justify-content: center;
  font-size: calc(var(--index) * 4.5);
  margin-bottom: 40px;
}

.footer {
  background-color: var(--black);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: calc(var(--index) * 1);
}
.footer span {
  color: var(--second-colorm);
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer__social img {
  object-fit: cover;
}

.reviews {
  padding: calc(var(--index) * 7);
  text-align: left;
}
.reviews h2 {
  font-size: calc(var(--index) * 3);
  width: 100%;
  max-width: 60%;
  margin: 40px auto;
  user-select: none;
}
.reviews__body {
  max-width: 60%;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.reviews__body-item {
  overflow: hidden;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 25px;
}
.reviews__body-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
  transition: 0.2s;
  filter: grayscale(1);
}
.reviews__body-item img:hover {
  filter: grayscale(0);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}
@media (max-width: 1030px) {
  .wrapper {
    overflow-x: hidden;
  }
  .first-section {
    overflow: hidden;
  }
  #mouse {
    opacity: 0;
    visibility: hidden;
  }
  .first-section__reviews {
    bottom: 2vh;
  }
  .first-section::before {
    left: 2vh;
  }
  .modal {
    transform: translateY(50%);
    bottom: 50%;
  }
  .scroll-animation {
    opacity: 0;
    visibility: hidden;
  }
  .portfolio {
    flex-direction: column-reverse;
    padding: calc(var(--index) * 4) 0px;
  }
  .portfolio__item {
    width: 100%;
    max-width: calc(var(--index) * 210);
    margin-bottom: calc(var(--portfolio-gap) / 3);
  }
  .portfolio__item.mobile-hide {
    display: none;
  }
  .tehnology {
    height: auto;
    padding: calc(var(--index) * 8) 0;
  }
  .tehnology .tehnology-firstslider .tehnology__row-track .slide h3 {
    transform: translateY(0%);
  }
  .amazing-slider {
    display: none;
  }
  .mobile__slider {
    display: block;
  }
  .cursor {
    display: none;
  }
  .particles__info {
    flex-direction: column;
  }
  .reviews {
    padding: calc(var(--index) * 7) calc(var(--index) * 0);
  }
  .reviews__body {
    max-width: 80%;
  }
  .btn-up {
    right: auto;
    left: 20px;
    bottom: 80px;
  }
}
@media (max-width: 767px) {
  .loader__body .external-shadow {
    width: 15em;
    height: 15em;
  }
  .loader__body .external-shadow .central {
    width: 15em;
    height: 15em;
  }
  .not__fullscreen {
    padding: 0;
  }
  .first-section {
    position: relative;
    padding: 15px;
  }
  .first-section::before {
    display: none;
  }
  .first-section_image {
    height: 100%;
    width: 130%;
    object-fit: cover;
  }
  .first-section__reviews {
    bottom: 17vh;
    font-size: calc(var(--index) * 1.5);
  }
  .first-section__social {
    bottom: 15vh;
  }
  .first-section-menu {
    font-size: calc(var(--index) * 3.5);
    padding: 15vh 10vw 10vh 3vw;
  }
  .first-section-menu ul li {
    line-height: 1.2;
  }
  .main__header-title {
    font-size: calc(var(--index) * 5);
  }
  .main__header-text {
    font-size: calc(var(--index) * 2.5);
  }
  .main__header-text a {
    text-decoration: underline;
  }
  .menu-trigger, .close-trigger {
    width: 42px;
    height: 42px;
  }
  .modal {
    right: 5px;
    width: 90%;
    font-size: calc(var(--index) * 1.8);
  }
  .modal__close {
    font-size: calc(var(--index) * 3);
    left: 2px;
    top: 2px;
  }
  .amazing-slider {
    height: 50vh;
  }
  .amazing-slider .main-slide {
    width: 100%;
    left: 0;
  }
  .amazing-slider .controls button {
    padding: 15px;
  }
  .particles__info {
    gap: 50px;
  }
  .reviews {
    padding: calc(var(--index) * 7) calc(var(--index) * 0);
  }
  .reviews h2 {
    max-width: 98%;
  }
  .reviews__body {
    max-width: 98%;
  }
  .footer__social {
    gap: 10px;
  }
  .footer__social img {
    width: 30px;
    height: 30px;
  }
  .first-section__social img {
    width: 30px;
    height: 30px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    opacity: 0.8;
  }
}

/*# sourceMappingURL=style.css.map */
